<div class="container">
  <div class="CategoriesPart">
    <h1>Tech Products</h1>
    <div class="SeparatingLine"></div>
    <div class="Categories">
      <a routerLinkActive="activeClass" routerLink="/dashboard/phones"
        >Phones</a
      >
      <a routerLinkActive="activeClass" routerLink="/dashboard/laptops"
        >Laptops</a
      >
      <a routerLinkActive="activeClass" routerLink="/dashboard/tablets"
        >Tablets</a
      >
    </div>
  </div>
  <div class="searchBarAndCompareButton">
    <div class="searchBar">
      <form (ngSubmit)="getResults()" #form="ngForm">
        <input
          type="search"
          name="quary"
          [(ngModel)]="quary"
          placeholder="Search Products"
        />
      </form>
    </div>
    <button (click)="goCompare()">Compare</button>
  </div>
</div>
<div class="container">
  <h2 *ngIf="isSearchEmpty">
    No matches found. Please check your spelling or try another product name.
  </h2>
  <div class="cards" *ngIf="allIstrue || searchIsTrue">
    <div class="card" *ngFor="let phone of phonesData; let i = index">
      <img
        src="https://tse4.mm.bing.net/th/id/OIP.O_SMou98S4Pbt1kAgrxNdAHaE8?pid=Api&P=0&h=180"
        alt="phone"
      />
      <div class="description">
        <h3>{{ phone.ProductName }}</h3>
        <p>{{ phone.Brand }}</p>
        <h4>${{ phone.Price }}</h4>
        <ul>
          <li>{{ phone.Spec1 }}</li>
          <li>{{ phone.Spec2 }}</li>
          <li>{{ phone.Spec3 }}</li>
        </ul>
        <div class="checkbox-wrapper-10">
          <input
            (change)="doIfChecked(phone, $event)"
            class="tgl tgl-flip"
            [id]="i"
            type="checkbox"
          />
          <label
            class="tgl-btn"
            data-tg-off="Compare"
            data-tg-on="Remove"
            [for]="i"
          ></label>
        </div>
      </div>
    </div>
  </div>
</div>
