/* Global Formats */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: sans-serif;
  background-image: linear-gradient(to right, #eff6ff, #ffffff, #dbeafe);
}

a {
  text-decoration: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
}
